<!doctype html>
<html>
<style>
form {
    margin: auto;
    width:35%
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style> 


<head>
    <title>California Housing Prices Prediction</title>
</head>
<h1>California Housing Prices Prediction</h1>
<h2>Please enter housing details below:</h2>
<form action="{{ url_for("main")}}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Median income (US$10,000):
        <input name="medianIncome" type="number" step="0.1" value="3.5", required>
        <br>
        <br> Housing median age:
        <input name="housingMedianAge" type="number" step="1" value="29", required>
        <br>
        <br> Total number of rooms within a block:
        <input name="totalRooms" type="number" step="1" value="2127", required>
        <br>
        <br> Total number of bedrooms within a block:
        <input name="totalBedrooms" type="number" step="1" value="435", required>
        <br>
        <br> Total number of people residing within a block:
        <input name="population" type="number" step="1" value="1166", required>
        <br>
        <br> Total number of households:
        <input name="households" type="number" step="1" value="409", required>
        <br>
        <br> Latitude:
        <input name="latitude" type="number" step="1" value="34", required>
        <br>
        <br> Longitude:
        <input name="longitude" type="number" step="1" value="-118", required>
        <br>
        <input type="submit" value="Predict">
    </fieldset>
</form> 
<br>
<div class="result" align="center">
    {% if preds%}
        <h1>Thank You. Here is the Information You Submited:</h1>
        {% for key, value in inputs.items() %}
            <b>{{key}}</b> : {{value}} <br>
        {%endfor%}
        <br>
        <br> The predicted median house value is:
            <p style="font-size:50px">US$ {{ preds}}</p>
    {% endif%}        
</div>
</html>